psutil==2.1.3
requests>=2.7.13
netifaces==0.10.4
kafka-python==1.3.1
pykafka==1.1.0
kafka==1.3.3
docker-py==1.10.6
python-dateutil==2.4.2
semantic_version==2.5.0
Yapsy==1.11.223
configobj==4.7.0
morph==0.1.2
fluent-logger==0.4.6
requests_unixsocket==0.1.5
